{% extends 'main.html' %}

{% block title %}<title>Ваш заказ принят</title>{% endblock title %}
{%block discription %}<meta name="description" content=Корзина товаров />{% endblock discription %}
{% block keywords%}<meta name="keywords" content=пицца, доставка пиццы, заказать пиццу/>{% endblock keywords %}

{% block content %}
    <div class="conteiner text-center">
        <div class="order">
            <br>
            <h2>Спасибо! Ваш заказ принят.</h2>
            <h3>Скоро с Вами свяжется менеджер для уточнения деталей заказа.</h3>
        </div>
    </div>
{% endblock content %}