{% extends 'main.html' %}

{% block title %}<title>Ваш заказ</title>{% endblock title %}
{%block discription %}<meta name="description" content=Корзина товаров />{% endblock discription %}
{% block keywords%}<meta name="keywords" content=пицца, доставка пиццы, заказать пиццу/>{% endblock keywords %}

{% block content %}
  <!-- Форма заказа -->
  <div class="conteiner d-flex justify-content-center align-items-center ">
    <div class="order col-6 fs-5 bg-warning bg-opacity-10">
      <h1>Оформление заказа</h1>
      <form name="order" action="{% url 'order' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group mb-3 fw-bold">
            {% if field.errors %}
              <div class="alert alert-danger mb-3 fw-bold">
                {{ field.errors }}
              </div>
            {% endif %}
            {{ field.label }}
            {{ field }}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary fs-5">Оформить заказ</button>
      </form>
    </div>
  </div>
  <!-- Форма заказа -->
{% endblock content %}
